<div id="navbar">
    <ul id="links">
      
      <li class="link"  [routerLink]="['/indexLink']">Home </li>
      <li class="link">Add Products</li>
      <li class="link">Show Cards</li>
     
    </ul>
    <br style="clear: both" />
  </div>
  
  <form>
  <table>
      <tr>
          <th colspan="14" style="text-align:center;">USER DETAILS DATABASE</th>
      </tr>
    <tr>
      <th>Registration ID</th>
      <th>UName</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Card Type</th>
      <th>Bank Name</th>
      <th>Account No.</th>
      <th>Ifsc code</th>
      <th>Applied_on</th>
      <th>IsVerified</th>
      <!-- <th>Approve</th> -->
      <th>Create Card</th>
      <th>Delete</th>
      
      
    </tr>
  </table>
   
   
  </form>
  